<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles/main.css">
  <?php
    if ($mj->user->browser->name === 'ie' && $mj->user->browser->version < 9):
  ?>
  <link rel="stylesheet" type="text/css" href="/static/styles/sandstone/home-ie8-20140224.css">
  <?php
    endif;
  ?>
</head>
